version: "3.9"

services:
  database:
    build: ./database
    container_name: pg_Challenge_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./api
    container_name: api_challenge_server
    restart: on-failure
    ports:
      - "3000:3000"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
    depends_on:
      - database
  app:
    build: ./app
    container_name: app_challenge_client
    ports:
      - "4200:80"
    depends_on:
      - api

volumes:
  pgdata:
